trunk/fails_report/Fails.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio - FREE Community Edition 7.0.5.906 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded">
        <xs:element name="Date">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
              <xs:element name="Fails">
                <xs:complexType>
                  <xs:sequence maxOccurs="unbounded">
                    <xs:element name="TestRun">
                      <xs:complexType>
                        <xs:sequence maxOccurs="unbounded">
                          <xs:element name="Fail">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="TestName" type="xs:string" />
                                <xs:element name="DBLog" type="xs:string" />
                                <xs:element name="Description" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Platform" type="xs:string" use="required" />
                  <xs:attribute name="Build" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Value" type="xs:date" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>